<%= page_header("Newsfeeds") %>

 <div class="row">
  <div class="col-sm-4">
		<div class="list-group">
		 <% @newsfeeds.each do |newsfeed| %>
		   <div class="list-group-item">
		   	<strong><%= link_to newsfeed.name, newsfeed %></strong>
		   	<small>(<%= newsfeed.material_type? ? newsfeed.material_type.humanize : "All"%>)</small><br />
		   	<small><%= link_to "Edit", edit_newsfeed_path(newsfeed) %> | <%= link_to 'Delete', newsfeed, method: :delete, data: { confirm: 'Are you sure?' } %></small>
		  </div>
		 <% end %>
		</div>		 
  </div>
  <div class="col-sm-4">
	 	<%= link_to "Add Newsfeed", new_newsfeed_path, class: "btn btn-success" %></div>
  </div>
</div>