<%= page_header("Sign In") %>
<div class="row">
  <div class="col-sm-3 authform">
    <%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <%= devise_error_messages! %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        <%- if devise_mapping.recoverable? %>
          <%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %>
        <% end -%>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.submit 'Sign in', :class => 'btn btn-success' %>
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox" style="width:350px">
              <%= f.check_box :remember_me %>
          </div>
        <% end -%>
    <% end %>
  </div>
</div>
